<form method="POST" id="creat_us" data-url="{{ path('user_new') }}">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="submit-create-user" type="submit" class="button">Сохранить</button>
{{ form_end(form) }}
 </form>